body {
    background-image: url(images/gplaypattern/gplaypattern.png);
    background-size: cover;
    background-position: center;
    font-size: 16px;
}

div.jumbotron.jumbo-styling {
    text-align: center;
    background-image: url(images/stars_on_the_lake.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.about-me {
    background:rgb(215, 215, 215);
    margin: 0% 2%;
    padding: 0% 3%;
}

.content-heading {

}

.about-me-head {
    margin: 5%;
}

.profile-image-body { 
    margin: 3% 0%;
    padding: 0%;
}

.profile-image { 
    height: 100%;
    width: 100%;
}

.about-me-para-1 {
    margin: .5% auto;
}

.main-para-text {
    margin: .5% auto;   
}

.social-media {
    background:rgb(215, 215, 215);
}

.social-media-links_heading {

}

.social_media_images {
    padding: 0;
    margin: 0% 2%;
}

.social_media_images_altered {
    padding: 0;
    margin: 2px;
}




