




body {
    background-image: url(images/gplaypattern/gplaypattern.png);
    background-size: cover;
    background-position: center;
    font-size: 1.7em;
    padding-top: 30px;
    font-family: 'Crimson Text', serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Armata', sans-serif;
}

.navbar-header {
    color: white;
}

.jumbotron .h1, .jumbotron h1 {
    font-family: 'Monoton', cursive;
}

div.jumbotron.jumbo-styling {
    text-align: center;
    background-image: url(images/stars_on_the_lake.jpg);
    background-size: cover;
    background-position: center;
    height: 500px;
}

.jumbotron-sub-heading {
    color: white;
}

.about-me {
    background:rgb(215, 215, 215);
    margin: 1% 2%;
    padding: 1% 3%;
}

.content-heading {

}

.about-me-head {
    margin: .5% auto;
}

.profile-image-body { 
    margin: 3% 0%;
    padding: 0%;
}

.profile-image { 
    height: 100%;
    width: 100%;
    padding: 0px 10px;
}

.about-me-para-1 {
    margin: 0px;
    padding: 5% 0% 0% 0%;
}

.main-para-text {
    margin: .5% auto;   
}

.social-media {
    background:rgb(215, 215, 215);
    margin: 1% 2%;
    padding: 1% 3%;
}

.social-media-links_heading {

}

.social_media_images {
    padding: 0;
    margin: 0% 2%;
    height: 100px;
    width: 100px;
}

.social_media_images_altered {
    padding: 0;
    margin: 5px;
    height: 90px;
    width: 95px;
}



@media only screen and (max-width:1200px) and (min-width:992px) {
    .about-me-para-1 {
    margin: 0px;
    padding: 2% 0% 0% 0%;
}

.profile-image {
    margin: 20px -5px;
}

}

@media only screen and (max-width:991px) and (min-width:768px) {
    .about-me-para-1 {
    margin: 0px;
    padding: 10% 0% 0% 0%;
}

.profile-image {
    margin: 20px -5px;
}

}

